#gameDiv {
  position: relative;
  width: 100%;
  height: 530px;
  background: black;
  margin: auto;
  cursor: none;
  user-select: none;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 530px;
  top: 0px;
  background: black;
  text-align: center;
  line-height: 530px;
  color: lightblue;
  font-family: 'Arial';
  font-size: 20px;
  user-select: none;
}

#ballCanvas {
  background: url("http://cloud-3.steamusercontent.com/ugc/720918725566294424/FCD5ECFE932139A7886585ECCBCA6586C6FF6E4A/");
  width: 100%;
  height: 520px;
  background-size: 100% 520px;
}

#scoreBoard {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 520px;
  background: black;
  text-align: center;
  line-height: 50px;
  color: lightblue;
  font-family: 'Arial';
  font-size: 20px;
}
